@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap');
// font-family: 'Inconsolata', monospace;
// font-family: 'Zilla Slab', serif;
body {
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  padding-bottom: 20px;
  background-color: rgb(128, 162, 170);
  position: sticky;
  top: 0;
  z-index: 10;
}
.container {
  width: 80vw;
  margin: auto;
}
.wrapper {
  text-align: center;
}
.logo {
  width: 350px;
}
.button-wrapper {
  margin-top: 20px;
}
.log-in-button,
.create-visit-button {
  padding: 10px 20px;
  font-size: 22px;
  font-family: 'Inconsolata', monospace;
  background-color: #004d80;
  color: #fff;
  border: 2px solid #2e4573;
  border-radius: 5px;
  &:hover {
    background-color: #0272bd;
  }
  &:active {
    background-color: #01253d;
  }
}
.start-text {
  color: #004d80;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-top: 120px;
}

.visit-cards-row {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
}

@media (min-width: 768px) {
  .logo {
    width: 300px;
  }
  .start-text {
    margin-top: 200px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 350px;
  }
}
